<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_L3Al8KgUEeajc9cS_HWa6Q" specification="interface usr:&#xA;&#x9;in event initiateBooking&#xA;&#x9;in event addRoomToBooking&#xA;&#x9;in event confirmBooking&#xA;&#x9;in event checkInBooking&#xA;&#x9;in event initiateCheckout&#xA;&#x9;in event payDuringCheckout&#xA;&#x9;&#xA;&#x9;in event switchBooking&#xA;&#x9;var booking:integer = 1&#xA;&#x9;&#xA;interface booking:&#xA;&#x9;operation initiateBooking():integer&#xA;&#x9;operation addRoomToBooking(bookingId:integer):boolean&#xA;&#x9;operation confirmBooking(bookingId:integer):boolean&#xA;&#x9;operation checkInBooking(bookingId:integer):boolean&#xA;&#x9;operation initiateCheckout(bookingId:integer):boolean&#xA;&#x9;operation payDuringCheckout(bookingId:integer):boolean&#xA;&#x9;&#xA;interface booking1:&#xA;&#x9;var bookingId:integer&#xA;&#x9;&#xA;interface booking0:&#xA;&#x9;var bookingId:integer" name="assignment3_medium">
    <regions xmi:id="_RJVPcKpqEea9rP9r4tEs6w" name="bookingChoice">
      <vertices xsi:type="sgraph:Entry" xmi:id="_S-5p8KpqEea9rP9r4tEs6w">
        <outgoingTransitions xmi:id="_ULbHcKpqEea9rP9r4tEs6w" target="_TSla8KpqEea9rP9r4tEs6w"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_TSla8KpqEea9rP9r4tEs6w" name="idle" incomingTransitions="_ULbHcKpqEea9rP9r4tEs6w _Uz3AcKpqEea9rP9r4tEs6w">
        <outgoingTransitions xmi:id="_Uz3AcKpqEea9rP9r4tEs6w" specification="usr.switchBooking / usr.booking = (usr.booking+1)%2" target="_TSla8KpqEea9rP9r4tEs6w"/>
      </vertices>
    </regions>
    <regions xmi:id="_L3Al86gUEeajc9cS_HWa6Q" name="booking1">
      <vertices xsi:type="sgraph:Entry" xmi:id="_L3BNBqgUEeajc9cS_HWa6Q" name="">
        <outgoingTransitions xmi:id="_L3CbIagUEeajc9cS_HWa6Q" specification="" target="_L3B0G6gUEeajc9cS_HWa6Q"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_L3B0G6gUEeajc9cS_HWa6Q" name="Created" incomingTransitions="_L3CbIagUEeajc9cS_HWa6Q">
        <outgoingTransitions xmi:id="_qP8rkKgaEeajc9cS_HWa6Q" specification="usr.initiateBooking[usr.booking==1]/&#xA;booking1.bookingId = booking.initiateBooking()" target="_dOOhsKgaEeajc9cS_HWa6Q"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_dOOhsKgaEeajc9cS_HWa6Q" name="Initiated" incomingTransitions="_qP8rkKgaEeajc9cS_HWa6Q _7l_KUKgaEeajc9cS_HWa6Q">
        <outgoingTransitions xmi:id="_qnMt8KgaEeajc9cS_HWa6Q" specification="usr.confirmBooking [usr.booking==1]" target="_e_-zMKgaEeajc9cS_HWa6Q"/>
        <outgoingTransitions xmi:id="_7l_KUKgaEeajc9cS_HWa6Q" specification="usr.addRoomToBooking [usr.booking==1 &amp;&amp; booking.addRoomToBooking(booking1.bookingId)]&#xA;" target="_dOOhsKgaEeajc9cS_HWa6Q"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_e_-zMKgaEeajc9cS_HWa6Q" name="Confirmed" incomingTransitions="_qnMt8KgaEeajc9cS_HWa6Q">
        <outgoingTransitions xmi:id="_q70TEKgaEeajc9cS_HWa6Q" specification="usr.checkInBooking [usr.booking==1]" target="_k_HrIKgaEeajc9cS_HWa6Q"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_k_HrIKgaEeajc9cS_HWa6Q" specification="" name="CheckedIn" incomingTransitions="_q70TEKgaEeajc9cS_HWa6Q">
        <outgoingTransitions xmi:id="_rRQXkKgaEeajc9cS_HWa6Q" specification="usr.initiateCheckout [usr.booking==1]" target="_m5uWoKgaEeajc9cS_HWa6Q"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_m5uWoKgaEeajc9cS_HWa6Q" specification="" name="CheckedOut" incomingTransitions="_rRQXkKgaEeajc9cS_HWa6Q">
        <outgoingTransitions xmi:id="_paPLkKgaEeajc9cS_HWa6Q" specification="usr.payDuringCheckout [usr.booking==1]" target="_G5kFQKppEea9rP9r4tEs6w"/>
      </vertices>
      <vertices xsi:type="sgraph:FinalState" xmi:id="_G5kFQKppEea9rP9r4tEs6w" incomingTransitions="_paPLkKgaEeajc9cS_HWa6Q"/>
    </regions>
    <regions xmi:id="_L1smMKpaEea9rP9r4tEs6w" name="booking0">
      <vertices xsi:type="sgraph:Entry" xmi:id="_L1smMapaEea9rP9r4tEs6w" name="">
        <outgoingTransitions xmi:id="_L1smMqpaEea9rP9r4tEs6w" specification="" target="_L1tM8KpaEea9rP9r4tEs6w"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_L1tM8KpaEea9rP9r4tEs6w" name="Created" incomingTransitions="_L1smMqpaEea9rP9r4tEs6w">
        <outgoingTransitions xmi:id="_L1tM8qpaEea9rP9r4tEs6w" specification="usr.initiateBooking[usr.booking==0]/&#xA;booking0.bookingId = booking.initiateBooking()" target="_L1tNA6paEea9rP9r4tEs6w"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_L1tNA6paEea9rP9r4tEs6w" name="Initiated" incomingTransitions="_L1tM8qpaEea9rP9r4tEs6w _L1t0E6paEea9rP9r4tEs6w">
        <outgoingTransitions xmi:id="_L1t0AKpaEea9rP9r4tEs6w" specification="usr.confirmBooking [usr.booking==0]" target="_L1t0JqpaEea9rP9r4tEs6w"/>
        <outgoingTransitions xmi:id="_L1t0E6paEea9rP9r4tEs6w" specification="usr.addRoomToBooking [usr.booking==0 &amp;&amp; booking.addRoomToBooking(booking0.bookingId)]&#xA;" target="_L1tNA6paEea9rP9r4tEs6w"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_L1t0JqpaEea9rP9r4tEs6w" name="Confirmed" incomingTransitions="_L1t0AKpaEea9rP9r4tEs6w">
        <outgoingTransitions xmi:id="_L1ubEapaEea9rP9r4tEs6w" specification="usr.checkInBooking [usr.booking==0]" target="_L1ubIapaEea9rP9r4tEs6w"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_L1ubIapaEea9rP9r4tEs6w" specification="" name="CheckedIn" incomingTransitions="_L1ubEapaEea9rP9r4tEs6w">
        <outgoingTransitions xmi:id="_L1ubI6paEea9rP9r4tEs6w" specification="usr.initiateCheckout [usr.booking==0]" target="_L1ubM6paEea9rP9r4tEs6w"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_L1ubM6paEea9rP9r4tEs6w" specification="" name="CheckingOut" incomingTransitions="_L1ubI6paEea9rP9r4tEs6w">
        <outgoingTransitions xmi:id="_L1vCIapaEea9rP9r4tEs6w" specification="usr.payDuringCheckout [usr.booking==0]" target="_KLl2sKppEea9rP9r4tEs6w"/>
      </vertices>
      <vertices xsi:type="sgraph:FinalState" xmi:id="_KLl2sKppEea9rP9r4tEs6w" incomingTransitions="_L1vCIapaEea9rP9r4tEs6w"/>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_L3Al8agUEeajc9cS_HWa6Q" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_L3Al8KgUEeajc9cS_HWa6Q" measurementUnit="Pixel">
    <children xmi:id="_L3Al9KgUEeajc9cS_HWa6Q" type="Region" element="_L3Al86gUEeajc9cS_HWa6Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_L3BNAKgUEeajc9cS_HWa6Q" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_L3BNAagUEeajc9cS_HWa6Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_L3BNAqgUEeajc9cS_HWa6Q"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_L3BNA6gUEeajc9cS_HWa6Q" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_L3B0EKgUEeajc9cS_HWa6Q" type="Entry" element="_L3BNBqgUEeajc9cS_HWa6Q">
          <children xmi:id="_L3B0FKgUEeajc9cS_HWa6Q" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_L3B0F6gUEeajc9cS_HWa6Q" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_L3B0GKgUEeajc9cS_HWa6Q"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_L3B0GagUEeajc9cS_HWa6Q"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_L3B0FagUEeajc9cS_HWa6Q" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_L3B0FqgUEeajc9cS_HWa6Q"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_L3B0EagUEeajc9cS_HWa6Q" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_L3B0EqgUEeajc9cS_HWa6Q" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_L3B0GqgUEeajc9cS_HWa6Q" x="19" y="32"/>
        </children>
        <children xmi:id="_L3B0HKgUEeajc9cS_HWa6Q" type="State" element="_L3B0G6gUEeajc9cS_HWa6Q">
          <children xsi:type="notation:DecorationNode" xmi:id="_L3B0IKgUEeajc9cS_HWa6Q" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_L3B0IagUEeajc9cS_HWa6Q"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_L3B0IqgUEeajc9cS_HWa6Q"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_L3B0I6gUEeajc9cS_HWa6Q" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_L3B0JKgUEeajc9cS_HWa6Q" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_L3B0JagUEeajc9cS_HWa6Q"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_L3B0JqgUEeajc9cS_HWa6Q" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_L3B0HagUEeajc9cS_HWa6Q" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_L3B0HqgUEeajc9cS_HWa6Q"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_L3B0J6gUEeajc9cS_HWa6Q" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_L3CbIKgUEeajc9cS_HWa6Q" x="127" y="14" width="87" height="57"/>
        </children>
        <children xmi:id="_dOQW4KgaEeajc9cS_HWa6Q" type="State" element="_dOOhsKgaEeajc9cS_HWa6Q">
          <children xsi:type="notation:DecorationNode" xmi:id="_dOQW5KgaEeajc9cS_HWa6Q" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_dOQW5agaEeajc9cS_HWa6Q"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_dOQW5qgaEeajc9cS_HWa6Q"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_dOQW56gaEeajc9cS_HWa6Q" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_dOQW6KgaEeajc9cS_HWa6Q" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_dOQW6agaEeajc9cS_HWa6Q"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_dOQ98KgaEeajc9cS_HWa6Q" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_dOQW4agaEeajc9cS_HWa6Q" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_dOQW4qgaEeajc9cS_HWa6Q"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_dOQ98agaEeajc9cS_HWa6Q" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_dOQW46gaEeajc9cS_HWa6Q" x="268" y="16" width="91" height="52"/>
        </children>
        <children xmi:id="_fAABUKgaEeajc9cS_HWa6Q" type="State" element="_e_-zMKgaEeajc9cS_HWa6Q">
          <children xsi:type="notation:DecorationNode" xmi:id="_fAAoYKgaEeajc9cS_HWa6Q" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_fAAoYagaEeajc9cS_HWa6Q"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_fAAoYqgaEeajc9cS_HWa6Q"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_fAAoY6gaEeajc9cS_HWa6Q" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_fAAoZKgaEeajc9cS_HWa6Q" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_fAAoZagaEeajc9cS_HWa6Q"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_fAAoZqgaEeajc9cS_HWa6Q" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_fAABUagaEeajc9cS_HWa6Q" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_fAABUqgaEeajc9cS_HWa6Q"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_fAAoZ6gaEeajc9cS_HWa6Q" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_fAABU6gaEeajc9cS_HWa6Q" x="415" y="15" width="100" height="55"/>
        </children>
        <children xmi:id="_k_I5QKgaEeajc9cS_HWa6Q" type="State" element="_k_HrIKgaEeajc9cS_HWa6Q">
          <children xsi:type="notation:DecorationNode" xmi:id="_k_I5RKgaEeajc9cS_HWa6Q" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_k_I5RagaEeajc9cS_HWa6Q"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_k_I5RqgaEeajc9cS_HWa6Q"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_k_JgUKgaEeajc9cS_HWa6Q" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_k_JgUagaEeajc9cS_HWa6Q" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_k_JgUqgaEeajc9cS_HWa6Q"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_k_JgU6gaEeajc9cS_HWa6Q" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_k_I5QagaEeajc9cS_HWa6Q" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_k_I5QqgaEeajc9cS_HWa6Q"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_k_JgVKgaEeajc9cS_HWa6Q" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_k_I5Q6gaEeajc9cS_HWa6Q" x="593" y="20" width="228" height="55"/>
        </children>
        <children xmi:id="_m5vkwKgaEeajc9cS_HWa6Q" type="State" element="_m5uWoKgaEeajc9cS_HWa6Q">
          <children xsi:type="notation:DecorationNode" xmi:id="_m5vkxKgaEeajc9cS_HWa6Q" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_m5vkxagaEeajc9cS_HWa6Q"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_m5vkxqgaEeajc9cS_HWa6Q"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_m5vkx6gaEeajc9cS_HWa6Q" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_m5vkyKgaEeajc9cS_HWa6Q" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_m5vkyagaEeajc9cS_HWa6Q"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_m5wL0KgaEeajc9cS_HWa6Q" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_m5vkwagaEeajc9cS_HWa6Q" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_m5vkwqgaEeajc9cS_HWa6Q"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_m5wL0agaEeajc9cS_HWa6Q" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_m5vkw6gaEeajc9cS_HWa6Q" x="922" y="20" width="108" height="55"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="_G5l6cKppEea9rP9r4tEs6w" type="FinalState" element="_G5kFQKppEea9rP9r4tEs6w" fontName="Verdana" lineColor="4210752">
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_G5l6cappEea9rP9r4tEs6w" x="1150" y="37"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_L3BNBKgUEeajc9cS_HWa6Q"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_L3Al9agUEeajc9cS_HWa6Q" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_L3BNBagUEeajc9cS_HWa6Q" x="324" y="-9" width="1216" height="276"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_L3CbKagUEeajc9cS_HWa6Q" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_L3CbK6gUEeajc9cS_HWa6Q" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_L3CbLKgUEeajc9cS_HWa6Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_L3CbLagUEeajc9cS_HWa6Q"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_L3DCMKgUEeajc9cS_HWa6Q" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_L3DCMagUEeajc9cS_HWa6Q"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_L3DCMqgUEeajc9cS_HWa6Q" x="10" y="10" width="302" height="648"/>
    </children>
    <children xmi:id="_L1sl4KpaEea9rP9r4tEs6w" type="Region" element="_L1smMKpaEea9rP9r4tEs6w">
      <children xsi:type="notation:DecorationNode" xmi:id="_L1sl4apaEea9rP9r4tEs6w" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_L1sl4qpaEea9rP9r4tEs6w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_L1sl46paEea9rP9r4tEs6w"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_L1sl5KpaEea9rP9r4tEs6w" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_L1sl5apaEea9rP9r4tEs6w" type="Entry" element="_L1smMapaEea9rP9r4tEs6w">
          <children xmi:id="_L1sl5qpaEea9rP9r4tEs6w" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_L1sl56paEea9rP9r4tEs6w" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_L1sl6KpaEea9rP9r4tEs6w"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_L1sl6apaEea9rP9r4tEs6w"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_L1sl6qpaEea9rP9r4tEs6w" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_L1sl66paEea9rP9r4tEs6w"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_L1sl7KpaEea9rP9r4tEs6w" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_L1sl7apaEea9rP9r4tEs6w" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_L1sl7qpaEea9rP9r4tEs6w" x="25" y="59"/>
        </children>
        <children xmi:id="_L1sl76paEea9rP9r4tEs6w" type="State" element="_L1tM8KpaEea9rP9r4tEs6w">
          <children xsi:type="notation:DecorationNode" xmi:id="_L1sl8KpaEea9rP9r4tEs6w" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_L1sl8apaEea9rP9r4tEs6w"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_L1sl8qpaEea9rP9r4tEs6w"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_L1sl86paEea9rP9r4tEs6w" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_L1sl9KpaEea9rP9r4tEs6w" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_L1sl9apaEea9rP9r4tEs6w"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_L1sl9qpaEea9rP9r4tEs6w" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_L1sl96paEea9rP9r4tEs6w" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_L1sl-KpaEea9rP9r4tEs6w"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_L1sl-apaEea9rP9r4tEs6w" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_L1sl-qpaEea9rP9r4tEs6w" x="133" y="41" width="87" height="57"/>
        </children>
        <children xmi:id="_L1sl-6paEea9rP9r4tEs6w" type="State" element="_L1tNA6paEea9rP9r4tEs6w">
          <children xsi:type="notation:DecorationNode" xmi:id="_L1sl_KpaEea9rP9r4tEs6w" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_L1sl_apaEea9rP9r4tEs6w"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_L1sl_qpaEea9rP9r4tEs6w"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_L1sl_6paEea9rP9r4tEs6w" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_L1smAKpaEea9rP9r4tEs6w" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_L1smAapaEea9rP9r4tEs6w"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_L1smAqpaEea9rP9r4tEs6w" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_L1smA6paEea9rP9r4tEs6w" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_L1smBKpaEea9rP9r4tEs6w"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_L1smBapaEea9rP9r4tEs6w" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_L1smBqpaEea9rP9r4tEs6w" x="268" y="43" width="91" height="52"/>
        </children>
        <children xmi:id="_L1smB6paEea9rP9r4tEs6w" type="State" element="_L1t0JqpaEea9rP9r4tEs6w">
          <children xsi:type="notation:DecorationNode" xmi:id="_L1smCKpaEea9rP9r4tEs6w" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_L1smCapaEea9rP9r4tEs6w"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_L1smCqpaEea9rP9r4tEs6w"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_L1smC6paEea9rP9r4tEs6w" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_L1smDKpaEea9rP9r4tEs6w" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_L1smDapaEea9rP9r4tEs6w"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_L1smDqpaEea9rP9r4tEs6w" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_L1smD6paEea9rP9r4tEs6w" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_L1smEKpaEea9rP9r4tEs6w"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_L1smEapaEea9rP9r4tEs6w" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_L1smEqpaEea9rP9r4tEs6w" x="421" y="42" width="100" height="55"/>
        </children>
        <children xmi:id="_L1smE6paEea9rP9r4tEs6w" type="State" element="_L1ubIapaEea9rP9r4tEs6w">
          <children xsi:type="notation:DecorationNode" xmi:id="_L1smFKpaEea9rP9r4tEs6w" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_L1smFapaEea9rP9r4tEs6w"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_L1smFqpaEea9rP9r4tEs6w"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_L1smF6paEea9rP9r4tEs6w" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_L1smGKpaEea9rP9r4tEs6w" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_L1smGapaEea9rP9r4tEs6w"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_L1smGqpaEea9rP9r4tEs6w" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_L1smG6paEea9rP9r4tEs6w" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_L1smHKpaEea9rP9r4tEs6w"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_L1smHapaEea9rP9r4tEs6w" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_L1smHqpaEea9rP9r4tEs6w" x="599" y="47" width="228" height="61"/>
        </children>
        <children xmi:id="_L1smH6paEea9rP9r4tEs6w" type="State" element="_L1ubM6paEea9rP9r4tEs6w">
          <children xsi:type="notation:DecorationNode" xmi:id="_L1smIKpaEea9rP9r4tEs6w" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_L1smIapaEea9rP9r4tEs6w"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_L1smIqpaEea9rP9r4tEs6w"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_L1smI6paEea9rP9r4tEs6w" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_L1smJKpaEea9rP9r4tEs6w" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_L1smJapaEea9rP9r4tEs6w"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_L1smJqpaEea9rP9r4tEs6w" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_L1smJ6paEea9rP9r4tEs6w" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_L1smKKpaEea9rP9r4tEs6w"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_L1smKapaEea9rP9r4tEs6w" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_L1smKqpaEea9rP9r4tEs6w" x="1042" y="47" width="99" height="55"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="_KLnr4KppEea9rP9r4tEs6w" type="FinalState" element="_KLl2sKppEea9rP9r4tEs6w" fontName="Verdana" lineColor="4210752">
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_KLnr4appEea9rP9r4tEs6w" x="1168" y="64"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_L1smLapaEea9rP9r4tEs6w"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_L1smLqpaEea9rP9r4tEs6w" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_L1smL6paEea9rP9r4tEs6w" x="322" y="279" width="1219" height="226"/>
    </children>
    <children xmi:id="_RJV2gKpqEea9rP9r4tEs6w" type="Region" element="_RJVPcKpqEea9rP9r4tEs6w">
      <children xsi:type="notation:DecorationNode" xmi:id="_RJWdkKpqEea9rP9r4tEs6w" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_RJWdkapqEea9rP9r4tEs6w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_RJWdkqpqEea9rP9r4tEs6w"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_RJWdk6pqEea9rP9r4tEs6w" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_S-6RAKpqEea9rP9r4tEs6w" type="Entry" element="_S-5p8KpqEea9rP9r4tEs6w">
          <children xmi:id="_S-6RBKpqEea9rP9r4tEs6w" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_S-6RB6pqEea9rP9r4tEs6w" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_S-6RCKpqEea9rP9r4tEs6w"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_S-6RCapqEea9rP9r4tEs6w"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_S-6RBapqEea9rP9r4tEs6w" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_S-6RBqpqEea9rP9r4tEs6w"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_S-6RAapqEea9rP9r4tEs6w" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_S-6RAqpqEea9rP9r4tEs6w" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_S-6RA6pqEea9rP9r4tEs6w" x="125" y="19"/>
        </children>
        <children xmi:id="_TSmCAKpqEea9rP9r4tEs6w" type="State" element="_TSla8KpqEea9rP9r4tEs6w">
          <children xsi:type="notation:DecorationNode" xmi:id="_TSmCBKpqEea9rP9r4tEs6w" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_TSmCBapqEea9rP9r4tEs6w"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_TSmCBqpqEea9rP9r4tEs6w"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_TSmCB6pqEea9rP9r4tEs6w" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_TSmpEKpqEea9rP9r4tEs6w" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_TSmpEapqEea9rP9r4tEs6w"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_TSmpEqpqEea9rP9r4tEs6w" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_TSmCAapqEea9rP9r4tEs6w" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_TSmCAqpqEea9rP9r4tEs6w"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_TSmpE6pqEea9rP9r4tEs6w" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_TSmCA6pqEea9rP9r4tEs6w" x="115" y="83"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_RJWdlKpqEea9rP9r4tEs6w"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_RJV2gapqEea9rP9r4tEs6w" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_RJV2gqpqEea9rP9r4tEs6w" x="1557" y="-9" width="334" height="325"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_L3Al8qgUEeajc9cS_HWa6Q"/>
    <edges xmi:id="_L3CbIqgUEeajc9cS_HWa6Q" type="Transition" element="_L3CbIagUEeajc9cS_HWa6Q" source="_L3B0EKgUEeajc9cS_HWa6Q" target="_L3B0HKgUEeajc9cS_HWa6Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_L3CbJqgUEeajc9cS_HWa6Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_L3CbJ6gUEeajc9cS_HWa6Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_L3CbKKgUEeajc9cS_HWa6Q" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_L3CbI6gUEeajc9cS_HWa6Q" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_L3CbJagUEeajc9cS_HWa6Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_L3CbJKgUEeajc9cS_HWa6Q" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="_paQZsKgaEeajc9cS_HWa6Q" type="Transition" element="_paPLkKgaEeajc9cS_HWa6Q" source="_m5vkwKgaEeajc9cS_HWa6Q" target="_G5l6cKppEea9rP9r4tEs6w">
      <children xsi:type="notation:DecorationNode" xmi:id="_paQZtKgaEeajc9cS_HWa6Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_paQZtagaEeajc9cS_HWa6Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_paQZtqgaEeajc9cS_HWa6Q" x="-12" y="45"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_paQZsagaEeajc9cS_HWa6Q" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_paQZs6gaEeajc9cS_HWa6Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_paQZsqgaEeajc9cS_HWa6Q" points="[5, 6, -132, 0]$[129, 6, -8, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_paSO4KgaEeajc9cS_HWa6Q" id="(0.9541284403669725,0.36363636363636365)"/>
    </edges>
    <edges xmi:id="_qP95sKgaEeajc9cS_HWa6Q" type="Transition" element="_qP8rkKgaEeajc9cS_HWa6Q" source="_L3B0HKgUEeajc9cS_HWa6Q" target="_dOQW4KgaEeajc9cS_HWa6Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_qP95tKgaEeajc9cS_HWa6Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_qP95tagaEeajc9cS_HWa6Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_qP95tqgaEeajc9cS_HWa6Q" x="10" y="-44"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_qP95sagaEeajc9cS_HWa6Q" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_qP95s6gaEeajc9cS_HWa6Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_qP95sqgaEeajc9cS_HWa6Q" points="[10, 0, -96, -3]$[102, -21, -4, -24]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_qP_u4KgaEeajc9cS_HWa6Q" id="(0.8850574712643678,0.45614035087719296)"/>
    </edges>
    <edges xmi:id="_qnNVAKgaEeajc9cS_HWa6Q" type="Transition" element="_qnMt8KgaEeajc9cS_HWa6Q" source="_dOQW4KgaEeajc9cS_HWa6Q" target="_fAABUKgaEeajc9cS_HWa6Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_qnNVBKgaEeajc9cS_HWa6Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_qnNVBagaEeajc9cS_HWa6Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_qnNVBqgaEeajc9cS_HWa6Q" x="50" y="40"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_qnNVAagaEeajc9cS_HWa6Q" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_qnNVA6gaEeajc9cS_HWa6Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_qnNVAqgaEeajc9cS_HWa6Q" points="[11, 9, -96, 5]$[60, 9, -47, 5]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_qnOjIKgaEeajc9cS_HWa6Q" id="(0.8791208791208791,0.4339622641509434)"/>
    </edges>
    <edges xmi:id="_q706IKgaEeajc9cS_HWa6Q" type="Transition" element="_q70TEKgaEeajc9cS_HWa6Q" source="_fAABUKgaEeajc9cS_HWa6Q" target="_k_I5QKgaEeajc9cS_HWa6Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_q706JKgaEeajc9cS_HWa6Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_q706JagaEeajc9cS_HWa6Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_q706JqgaEeajc9cS_HWa6Q" x="12" y="-44"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_q706IagaEeajc9cS_HWa6Q" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_q706I6gaEeajc9cS_HWa6Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_q706IqgaEeajc9cS_HWa6Q" points="[19, 7, -94, 2]$[115, -15, 2, -20]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_q72IQKgaEeajc9cS_HWa6Q" id="(0.8,0.41818181818181815)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_q72IQagaEeajc9cS_HWa6Q" id="(0.21978021978021978,0.4)"/>
    </edges>
    <edges xmi:id="_rRQ-oKgaEeajc9cS_HWa6Q" type="Transition" element="_rRQXkKgaEeajc9cS_HWa6Q" source="_k_I5QKgaEeajc9cS_HWa6Q" target="_m5vkwKgaEeajc9cS_HWa6Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_rRQ-pKgaEeajc9cS_HWa6Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_rRQ-pagaEeajc9cS_HWa6Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_rRQ-pqgaEeajc9cS_HWa6Q" x="15" y="-40"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_rRQ-oagaEeajc9cS_HWa6Q" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_rRQ-o6gaEeajc9cS_HWa6Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_rRQ-oqgaEeajc9cS_HWa6Q" points="[43, -4, -91, 2]$[136, -25, 2, -19]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_rRSz0KgaEeajc9cS_HWa6Q" id="(0.23853211009174313,0.38181818181818183)"/>
    </edges>
    <edges xmi:id="_7mBmkKgaEeajc9cS_HWa6Q" type="Transition" element="_7l_KUKgaEeajc9cS_HWa6Q" source="_dOQW4KgaEeajc9cS_HWa6Q" target="_dOQW4KgaEeajc9cS_HWa6Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_7mBmlKgaEeajc9cS_HWa6Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_7mBmlagaEeajc9cS_HWa6Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_7mBmlqgaEeajc9cS_HWa6Q" x="36" y="-35"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_7mBmkagaEeajc9cS_HWa6Q" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_7mBmk6gaEeajc9cS_HWa6Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_7mBmkqgaEeajc9cS_HWa6Q" points="[4, 17, 52, 12]$[4, 99, 52, 94]$[-48, 99, 0, 94]$[-48, 17, 0, 12]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_8U--UKgaEeajc9cS_HWa6Q" id="(0.7912087912087912,0.660377358490566)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_7mC0sKgaEeajc9cS_HWa6Q" id="(0.24175824175824176,0.7547169811320755)"/>
    </edges>
    <edges xmi:id="_L1xeYKpaEea9rP9r4tEs6w" type="Transition" element="_L1smMqpaEea9rP9r4tEs6w" source="_L1sl5apaEea9rP9r4tEs6w" target="_L1sl76paEea9rP9r4tEs6w">
      <children xsi:type="notation:DecorationNode" xmi:id="_L1xeYapaEea9rP9r4tEs6w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_L1xeYqpaEea9rP9r4tEs6w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_L1xeY6paEea9rP9r4tEs6w" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_L1xeZKpaEea9rP9r4tEs6w" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_L1xeZapaEea9rP9r4tEs6w" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_L1xeZqpaEea9rP9r4tEs6w" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="_L1xeZ6paEea9rP9r4tEs6w" type="Transition" element="_L1vCIapaEea9rP9r4tEs6w" source="_L1smH6paEea9rP9r4tEs6w" target="_KLnr4KppEea9rP9r4tEs6w">
      <children xsi:type="notation:DecorationNode" xmi:id="_L1xeaKpaEea9rP9r4tEs6w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_L1xeaapaEea9rP9r4tEs6w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_L1xeaqpaEea9rP9r4tEs6w" x="-102" y="-54"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_L1xea6paEea9rP9r4tEs6w" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_L1xebKpaEea9rP9r4tEs6w" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_L1xebapaEea9rP9r4tEs6w" points="[-99, 2, 452, 0]$[-508, 2, 43, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_L1xebqpaEea9rP9r4tEs6w" id="(0.9541284403669725,0.36363636363636365)"/>
    </edges>
    <edges xmi:id="_L1xeb6paEea9rP9r4tEs6w" type="Transition" element="_L1tM8qpaEea9rP9r4tEs6w" source="_L1sl76paEea9rP9r4tEs6w" target="_L1sl-6paEea9rP9r4tEs6w">
      <children xsi:type="notation:DecorationNode" xmi:id="_L1xecKpaEea9rP9r4tEs6w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_L1xecapaEea9rP9r4tEs6w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_L1xecqpaEea9rP9r4tEs6w" x="-54" y="-44"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_L1xec6paEea9rP9r4tEs6w" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_L1xedKpaEea9rP9r4tEs6w" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_L1xedapaEea9rP9r4tEs6w" points="[10, 0, -96, -3]$[102, -21, -4, -24]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_L1xedqpaEea9rP9r4tEs6w" id="(0.8850574712643678,0.45614035087719296)"/>
    </edges>
    <edges xmi:id="_L1xed6paEea9rP9r4tEs6w" type="Transition" element="_L1t0AKpaEea9rP9r4tEs6w" source="_L1sl-6paEea9rP9r4tEs6w" target="_L1smB6paEea9rP9r4tEs6w">
      <children xsi:type="notation:DecorationNode" xmi:id="_L1xeeKpaEea9rP9r4tEs6w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_L1xeeapaEea9rP9r4tEs6w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_L1xeeqpaEea9rP9r4tEs6w" x="81" y="46"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_L1xee6paEea9rP9r4tEs6w" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_L1xefKpaEea9rP9r4tEs6w" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_L1xefapaEea9rP9r4tEs6w" points="[11, 9, -96, 5]$[60, 9, -47, 5]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_L1xefqpaEea9rP9r4tEs6w" id="(0.8791208791208791,0.4339622641509434)"/>
    </edges>
    <edges xmi:id="_L1xef6paEea9rP9r4tEs6w" type="Transition" element="_L1ubEapaEea9rP9r4tEs6w" source="_L1smB6paEea9rP9r4tEs6w" target="_L1smE6paEea9rP9r4tEs6w">
      <children xsi:type="notation:DecorationNode" xmi:id="_L1xegKpaEea9rP9r4tEs6w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_L1xegapaEea9rP9r4tEs6w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_L1xegqpaEea9rP9r4tEs6w" x="31" y="-43"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_L1xeg6paEea9rP9r4tEs6w" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_L1xehKpaEea9rP9r4tEs6w" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_L1xehapaEea9rP9r4tEs6w" points="[19, 7, -94, 2]$[115, -15, 2, -20]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_L1xehqpaEea9rP9r4tEs6w" id="(0.8,0.41818181818181815)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_L1xeh6paEea9rP9r4tEs6w" id="(0.21978021978021978,0.4)"/>
    </edges>
    <edges xmi:id="_L1xeiKpaEea9rP9r4tEs6w" type="Transition" element="_L1ubI6paEea9rP9r4tEs6w" source="_L1smE6paEea9rP9r4tEs6w" target="_L1smH6paEea9rP9r4tEs6w">
      <children xsi:type="notation:DecorationNode" xmi:id="_L1xeiapaEea9rP9r4tEs6w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_L1xeiqpaEea9rP9r4tEs6w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_L1xei6paEea9rP9r4tEs6w" x="2" y="31"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_L1xejKpaEea9rP9r4tEs6w" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_L1xejapaEea9rP9r4tEs6w" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_L1xejqpaEea9rP9r4tEs6w" points="[43, -4, -91, 2]$[136, -25, 2, -19]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_L1xej6paEea9rP9r4tEs6w" id="(0.23853211009174313,0.38181818181818183)"/>
    </edges>
    <edges xmi:id="_L1xekKpaEea9rP9r4tEs6w" type="Transition" element="_L1t0E6paEea9rP9r4tEs6w" source="_L1sl-6paEea9rP9r4tEs6w" target="_L1sl-6paEea9rP9r4tEs6w">
      <children xsi:type="notation:DecorationNode" xmi:id="_L1xekapaEea9rP9r4tEs6w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_L1xekqpaEea9rP9r4tEs6w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_L1xek6paEea9rP9r4tEs6w" x="2" y="-17"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_L1xelKpaEea9rP9r4tEs6w" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_L1xelapaEea9rP9r4tEs6w" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_L1xelqpaEea9rP9r4tEs6w" points="[4, 17, 55, 16]$[4, 88, 55, 87]$[-51, 88, 0, 87]$[-51, 17, 0, 16]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_L1xel6paEea9rP9r4tEs6w" id="(0.7912087912087912,0.660377358490566)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_L1xemKpaEea9rP9r4tEs6w" id="(0.1978021978021978,0.6792452830188679)"/>
    </edges>
    <edges xmi:id="_ULbugKpqEea9rP9r4tEs6w" type="Transition" element="_ULbHcKpqEea9rP9r4tEs6w" source="_S-6RAKpqEea9rP9r4tEs6w" target="_TSmCAKpqEea9rP9r4tEs6w">
      <children xsi:type="notation:DecorationNode" xmi:id="_ULbuhKpqEea9rP9r4tEs6w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ULbuhapqEea9rP9r4tEs6w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ULbuhqpqEea9rP9r4tEs6w" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_ULbugapqEea9rP9r4tEs6w" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_ULbug6pqEea9rP9r4tEs6w" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_ULbugqpqEea9rP9r4tEs6w" points="[0, 7, 12, -107]$[-14, 90, -2, -24]"/>
    </edges>
    <edges xmi:id="_Uz3ngKpqEea9rP9r4tEs6w" type="Transition" element="_Uz3AcKpqEea9rP9r4tEs6w" source="_TSmCAKpqEea9rP9r4tEs6w" target="_TSmCAKpqEea9rP9r4tEs6w">
      <children xsi:type="notation:DecorationNode" xmi:id="_Uz3nhKpqEea9rP9r4tEs6w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Uz3nhapqEea9rP9r4tEs6w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Uz3nhqpqEea9rP9r4tEs6w" x="19" y="27"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Uz3ngapqEea9rP9r4tEs6w" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Uz3ng6pqEea9rP9r4tEs6w" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Uz3ngqpqEea9rP9r4tEs6w" points="[1, 24, 1, 24]$[1, 24, 1, 24]"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
