<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_nVDVoKf3Eeai1MQIRTN9hA" specification="interface:&#xA;&#x9;var roomNumber:integer&#xA;&#x9;in event switchRoom&#xA;&#xA;interface reception:&#xA;&#x9;in event doCheckIn&#xA;&#x9;in event doCheckOut&#xA;&#x9;&#xA;interface admin:&#xA;&#x9;in event doBlockRoom&#xA;&#x9;in event doUnblockRoom&#xA;&#x9;&#xA;interface room:&#xA;&#x9;in event checkIn : integer&#xA;&#x9;in event checkOut : integer&#xA;&#x9;&#xA;&#x9;in event block : integer&#xA;&#x9;in event unblock : integer&#xA;&#x9;" name="assignment3_easy">
    <regions xmi:id="_nVEjwqf3Eeai1MQIRTN9hA" name="Receptionist">
      <vertices xsi:type="sgraph:Entry" xmi:id="_nVHnEaf3Eeai1MQIRTN9hA">
        <outgoingTransitions xmi:id="_nVJcQ6f3Eeai1MQIRTN9hA" target="_nVIOJ6f3Eeai1MQIRTN9hA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_nVIOJ6f3Eeai1MQIRTN9hA" name="Idle" incomingTransitions="_nVJcQ6f3Eeai1MQIRTN9hA _9miasKf3Eeai1MQIRTN9hA _tv748Kf4Eeai1MQIRTN9hA">
        <outgoingTransitions xmi:id="_9miasKf3Eeai1MQIRTN9hA" specification="reception.doCheckIn/raise room.checkIn : roomNumber" target="_nVIOJ6f3Eeai1MQIRTN9hA"/>
        <outgoingTransitions xmi:id="_tv748Kf4Eeai1MQIRTN9hA" specification="reception.doCheckOut/raise room.checkOut : roomNumber" target="_nVIOJ6f3Eeai1MQIRTN9hA"/>
      </vertices>
    </regions>
    <regions xmi:id="_pHQBIKf5EeaPELw6Hy3jPQ" name="Admin">
      <vertices xsi:type="sgraph:Entry" xmi:id="_rb3IEKf5EeaPELw6Hy3jPQ">
        <outgoingTransitions xmi:id="_tYcwkKf5EeaPELw6Hy3jPQ" specification="" target="_r9lVEKf5EeaPELw6Hy3jPQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_r9lVEKf5EeaPELw6Hy3jPQ" name="Idle" incomingTransitions="_tYcwkKf5EeaPELw6Hy3jPQ _unfWkKf5EeaPELw6Hy3jPQ _vG7EkKf5EeaPELw6Hy3jPQ">
        <outgoingTransitions xmi:id="_unfWkKf5EeaPELw6Hy3jPQ" specification="admin.doUnblockRoom/raise room.unblock : roomNumber" target="_r9lVEKf5EeaPELw6Hy3jPQ"/>
        <outgoingTransitions xmi:id="_vG7EkKf5EeaPELw6Hy3jPQ" specification="admin.doBlockRoom/raise room.block : &#xA;roomNumber" target="_r9lVEKf5EeaPELw6Hy3jPQ"/>
      </vertices>
    </regions>
    <regions xmi:id="_1cT0IKp8Eea9rP9r4tEs6w" name="roomSwitch">
      <vertices xsi:type="sgraph:Entry" xmi:id="_29vKoKp8Eea9rP9r4tEs6w">
        <outgoingTransitions xmi:id="_4GcfIKp8Eea9rP9r4tEs6w" specification="" target="_3MsMoKp8Eea9rP9r4tEs6w"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_3MsMoKp8Eea9rP9r4tEs6w" name="idle" incomingTransitions="_4GcfIKp8Eea9rP9r4tEs6w _4VUooKp8Eea9rP9r4tEs6w">
        <outgoingTransitions xmi:id="_4VUooKp8Eea9rP9r4tEs6w" specification="switchRoom/roomNumber = (roomNumber+1)%2" target="_3MsMoKp8Eea9rP9r4tEs6w"/>
      </vertices>
    </regions>
    <regions xmi:id="_dIXTYKsREea8a41T6H1ojw" name="room0">
      <vertices xsi:type="sgraph:State" xmi:id="_57jx8KsREea8a41T6H1ojw" name="checkedOut" incomingTransitions="_WkQbQKsTEea8a41T6H1ojw _6qzEQKsWEea8a41T6H1ojw _aCwloKsXEea8a41T6H1ojw">
        <outgoingTransitions xmi:id="_OvHrAKsTEea8a41T6H1ojw" specification="room.block[roomNumber==0]" target="_MZYisKsTEea8a41T6H1ojw"/>
        <outgoingTransitions xmi:id="_SXpQ4KsTEea8a41T6H1ojw" specification="room.checkIn[roomNumber == 0]" target="_HwT7QKsSEea8a41T6H1ojw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_HwT7QKsSEea8a41T6H1ojw" name="checkedIn" incomingTransitions="_SXpQ4KsTEea8a41T6H1ojw">
        <outgoingTransitions xmi:id="_WkQbQKsTEea8a41T6H1ojw" specification="room.checkOut[roomNumber == 0]&#xD;&#xA;" target="_57jx8KsREea8a41T6H1ojw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_MZYisKsTEea8a41T6H1ojw" name="Blocked" incomingTransitions="_OvHrAKsTEea8a41T6H1ojw">
        <outgoingTransitions xmi:id="_6qzEQKsWEea8a41T6H1ojw" specification="room.unblock[roomNumber == 0]" target="_57jx8KsREea8a41T6H1ojw"/>
      </vertices>
      <vertices xsi:type="sgraph:Entry" xmi:id="_ZdhKkKsXEea8a41T6H1ojw">
        <outgoingTransitions xmi:id="_aCwloKsXEea8a41T6H1ojw" specification="" target="_57jx8KsREea8a41T6H1ojw"/>
      </vertices>
    </regions>
    <regions xmi:id="_f0Ww0KsXEea8a41T6H1ojw" name="room1">
      <vertices xsi:type="sgraph:Entry" xmi:id="_hDVscKsXEea8a41T6H1ojw">
        <outgoingTransitions xmi:id="_nM32gKsXEea8a41T6H1ojw" specification="" target="_hkU5oKsXEea8a41T6H1ojw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_hkU5oKsXEea8a41T6H1ojw" name="checkedOut" incomingTransitions="_nM32gKsXEea8a41T6H1ojw _t_6QkKsXEea8a41T6H1ojw _1zAZcKsXEea8a41T6H1ojw">
        <outgoingTransitions xmi:id="_n8eHcKsXEea8a41T6H1ojw" specification="room.checkIn[roomNumber == 1]" target="_kFvGcKsXEea8a41T6H1ojw"/>
        <outgoingTransitions xmi:id="_yq8cUKsXEea8a41T6H1ojw" specification="room.block[roomNumber == 1]" target="_lo6wcKsXEea8a41T6H1ojw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_kFvGcKsXEea8a41T6H1ojw" name="checkedIn" incomingTransitions="_n8eHcKsXEea8a41T6H1ojw">
        <outgoingTransitions xmi:id="_t_6QkKsXEea8a41T6H1ojw" specification="room.checkOut[roomNumber == 1]" target="_hkU5oKsXEea8a41T6H1ojw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_lo6wcKsXEea8a41T6H1ojw" name="Blocked" incomingTransitions="_yq8cUKsXEea8a41T6H1ojw">
        <outgoingTransitions xmi:id="_1zAZcKsXEea8a41T6H1ojw" specification="room.unblock[roomNumber == 1]" target="_hkU5oKsXEea8a41T6H1ojw"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_nVEjwKf3Eeai1MQIRTN9hA" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_nVDVoKf3Eeai1MQIRTN9hA" measurementUnit="Pixel">
    <children xmi:id="_nVFx4Kf3Eeai1MQIRTN9hA" type="Region" element="_nVEjwqf3Eeai1MQIRTN9hA">
      <children xsi:type="notation:DecorationNode" xmi:id="_nVHAAKf3Eeai1MQIRTN9hA" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_nVHAAaf3Eeai1MQIRTN9hA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_nVHAAqf3Eeai1MQIRTN9hA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_nVHAA6f3Eeai1MQIRTN9hA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_nVHnEqf3Eeai1MQIRTN9hA" type="Entry" element="_nVHnEaf3Eeai1MQIRTN9hA">
          <children xmi:id="_nVIOIKf3Eeai1MQIRTN9hA" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_nVIOI6f3Eeai1MQIRTN9hA" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_nVIOJKf3Eeai1MQIRTN9hA"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_nVIOJaf3Eeai1MQIRTN9hA"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_nVIOIaf3Eeai1MQIRTN9hA" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nVIOIqf3Eeai1MQIRTN9hA"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_nVHnE6f3Eeai1MQIRTN9hA" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_nVHnFKf3Eeai1MQIRTN9hA" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nVIOJqf3Eeai1MQIRTN9hA" x="66" y="19"/>
        </children>
        <children xmi:id="_nVI1MKf3Eeai1MQIRTN9hA" type="State" element="_nVIOJ6f3Eeai1MQIRTN9hA">
          <children xsi:type="notation:DecorationNode" xmi:id="_nVI1NKf3Eeai1MQIRTN9hA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_nVI1Naf3Eeai1MQIRTN9hA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_nVI1Nqf3Eeai1MQIRTN9hA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_nVI1N6f3Eeai1MQIRTN9hA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_nVI1OKf3Eeai1MQIRTN9hA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nVI1Oaf3Eeai1MQIRTN9hA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_nVJcQKf3Eeai1MQIRTN9hA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_nVI1Maf3Eeai1MQIRTN9hA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_nVI1Mqf3Eeai1MQIRTN9hA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_nVJcQaf3Eeai1MQIRTN9hA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nVJcQqf3Eeai1MQIRTN9hA" x="39" y="73" width="86" height="69"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nVHABKf3Eeai1MQIRTN9hA"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_nVFx4af3Eeai1MQIRTN9hA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nVHnEKf3Eeai1MQIRTN9hA" x="220" y="10" width="400" height="400"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_nVKqZKf3Eeai1MQIRTN9hA" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_nVLRcKf3Eeai1MQIRTN9hA" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_nVLRcaf3Eeai1MQIRTN9hA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_nVLRcqf3Eeai1MQIRTN9hA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_nVLRc6f3Eeai1MQIRTN9hA" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nVLRdKf3Eeai1MQIRTN9hA"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nVLRdaf3Eeai1MQIRTN9hA" x="10" y="10" width="200" height="400"/>
    </children>
    <children xmi:id="_pHSdYKf5EeaPELw6Hy3jPQ" type="Region" element="_pHQBIKf5EeaPELw6Hy3jPQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_pHVgsKf5EeaPELw6Hy3jPQ" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_pHVgsaf5EeaPELw6Hy3jPQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_pHVgsqf5EeaPELw6Hy3jPQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_pHVgs6f5EeaPELw6Hy3jPQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_rb6LYKf5EeaPELw6Hy3jPQ" type="Entry" element="_rb3IEKf5EeaPELw6Hy3jPQ">
          <children xmi:id="_rb6ycKf5EeaPELw6Hy3jPQ" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_rb6yc6f5EeaPELw6Hy3jPQ" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_rb6ydKf5EeaPELw6Hy3jPQ"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_rb6ydaf5EeaPELw6Hy3jPQ"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_rb6ycaf5EeaPELw6Hy3jPQ" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_rb6ycqf5EeaPELw6Hy3jPQ"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_rb6LYaf5EeaPELw6Hy3jPQ" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_rb6LYqf5EeaPELw6Hy3jPQ" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_rb6LY6f5EeaPELw6Hy3jPQ" x="53" y="24"/>
        </children>
        <children xmi:id="_r9mjMKf5EeaPELw6Hy3jPQ" type="State" element="_r9lVEKf5EeaPELw6Hy3jPQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_r9nKQKf5EeaPELw6Hy3jPQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_r9nKQaf5EeaPELw6Hy3jPQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_r9nKQqf5EeaPELw6Hy3jPQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_r9nKQ6f5EeaPELw6Hy3jPQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_r9nKRKf5EeaPELw6Hy3jPQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_r9nKRaf5EeaPELw6Hy3jPQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_r9nKRqf5EeaPELw6Hy3jPQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_r9mjMaf5EeaPELw6Hy3jPQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_r9mjMqf5EeaPELw6Hy3jPQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_r9nKR6f5EeaPELw6Hy3jPQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_r9mjM6f5EeaPELw6Hy3jPQ" x="196" y="24" width="87" height="74"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_pHVgtKf5EeaPELw6Hy3jPQ"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_pHSdYaf5EeaPELw6Hy3jPQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_pHSdYqf5EeaPELw6Hy3jPQ" x="35" y="435" width="793" height="226"/>
    </children>
    <children xmi:id="_1cWQYKp8Eea9rP9r4tEs6w" type="Region" element="_1cT0IKp8Eea9rP9r4tEs6w">
      <children xsi:type="notation:DecorationNode" xmi:id="_1cWQY6p8Eea9rP9r4tEs6w" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_1cWQZKp8Eea9rP9r4tEs6w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_1cWQZap8Eea9rP9r4tEs6w"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_1cWQZqp8Eea9rP9r4tEs6w" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_29w_0Kp8Eea9rP9r4tEs6w" type="Entry" element="_29vKoKp8Eea9rP9r4tEs6w">
          <children xmi:id="_29xm4Kp8Eea9rP9r4tEs6w" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_29xm46p8Eea9rP9r4tEs6w" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_29xm5Kp8Eea9rP9r4tEs6w"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_29xm5ap8Eea9rP9r4tEs6w"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_29xm4ap8Eea9rP9r4tEs6w" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_29xm4qp8Eea9rP9r4tEs6w"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_29w_0ap8Eea9rP9r4tEs6w" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_29w_0qp8Eea9rP9r4tEs6w" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_29w_06p8Eea9rP9r4tEs6w" x="106" y="16"/>
        </children>
        <children xmi:id="_3MszsKp8Eea9rP9r4tEs6w" type="State" element="_3MsMoKp8Eea9rP9r4tEs6w">
          <children xsi:type="notation:DecorationNode" xmi:id="_3MsztKp8Eea9rP9r4tEs6w" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_3Msztap8Eea9rP9r4tEs6w"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_3Msztqp8Eea9rP9r4tEs6w"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_3Mszt6p8Eea9rP9r4tEs6w" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_3MszuKp8Eea9rP9r4tEs6w" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_3Mszuap8Eea9rP9r4tEs6w"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_3MtawKp8Eea9rP9r4tEs6w" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_3Mszsap8Eea9rP9r4tEs6w" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_3Mszsqp8Eea9rP9r4tEs6w"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_3Mtawap8Eea9rP9r4tEs6w" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_3Mszs6p8Eea9rP9r4tEs6w" x="96" y="119"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1cWQZ6p8Eea9rP9r4tEs6w"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_1cWQYap8Eea9rP9r4tEs6w" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1cWQYqp8Eea9rP9r4tEs6w" x="630" y="10" width="262" height="298"/>
    </children>
    <children xmi:id="_dIZIkKsREea8a41T6H1ojw" type="Region" element="_dIXTYKsREea8a41T6H1ojw">
      <children xsi:type="notation:DecorationNode" xmi:id="_dIZvoKsREea8a41T6H1ojw" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_dIZvoasREea8a41T6H1ojw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_dIZvoqsREea8a41T6H1ojw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_dIZvo6sREea8a41T6H1ojw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_57lAEKsREea8a41T6H1ojw" type="State" element="_57jx8KsREea8a41T6H1ojw">
          <children xsi:type="notation:DecorationNode" xmi:id="_57lnIKsREea8a41T6H1ojw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_57lnIasREea8a41T6H1ojw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_57lnIqsREea8a41T6H1ojw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_57lnI6sREea8a41T6H1ojw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_57lnJKsREea8a41T6H1ojw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_57lnJasREea8a41T6H1ojw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_57mOMKsREea8a41T6H1ojw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_57lAEasREea8a41T6H1ojw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_57lAEqsREea8a41T6H1ojw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_57mOMasREea8a41T6H1ojw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_57lAE6sREea8a41T6H1ojw" x="-6" y="67"/>
        </children>
        <children xmi:id="_HwVJYKsSEea8a41T6H1ojw" type="State" element="_HwT7QKsSEea8a41T6H1ojw">
          <children xsi:type="notation:DecorationNode" xmi:id="_HwVJZKsSEea8a41T6H1ojw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_HwVJZasSEea8a41T6H1ojw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_HwVJZqsSEea8a41T6H1ojw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_HwVJZ6sSEea8a41T6H1ojw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_HwVJaKsSEea8a41T6H1ojw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_HwVJaasSEea8a41T6H1ojw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_HwVwcKsSEea8a41T6H1ojw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_HwVJYasSEea8a41T6H1ojw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_HwVJYqsSEea8a41T6H1ojw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_HwVwcasSEea8a41T6H1ojw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_HwVJY6sSEea8a41T6H1ojw" x="213" y="96"/>
        </children>
        <children xmi:id="_MZZw0KsTEea8a41T6H1ojw" type="State" element="_MZYisKsTEea8a41T6H1ojw">
          <children xsi:type="notation:DecorationNode" xmi:id="_MZZw1KsTEea8a41T6H1ojw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_MZZw1asTEea8a41T6H1ojw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_MZZw1qsTEea8a41T6H1ojw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_MZZw16sTEea8a41T6H1ojw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_MZZw2KsTEea8a41T6H1ojw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_MZZw2asTEea8a41T6H1ojw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_MZaX4KsTEea8a41T6H1ojw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_MZZw0asTEea8a41T6H1ojw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_MZZw0qsTEea8a41T6H1ojw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_MZaX4asTEea8a41T6H1ojw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_MZZw06sTEea8a41T6H1ojw" x="71" y="262" width="82" height="61"/>
        </children>
        <children xmi:id="_Zdi_wKsXEea8a41T6H1ojw" type="Entry" element="_ZdhKkKsXEea8a41T6H1ojw">
          <children xmi:id="_Zdjm0KsXEea8a41T6H1ojw" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_Zdjm06sXEea8a41T6H1ojw" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_Zdjm1KsXEea8a41T6H1ojw"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_Zdjm1asXEea8a41T6H1ojw"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_Zdjm0asXEea8a41T6H1ojw" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Zdjm0qsXEea8a41T6H1ojw"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_Zdi_wasXEea8a41T6H1ojw" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_Zdi_wqsXEea8a41T6H1ojw" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Zdi_w6sXEea8a41T6H1ojw" x="12" y="6"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_dIZvpKsREea8a41T6H1ojw"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_dIZIkasREea8a41T6H1ojw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_dIZIkqsREea8a41T6H1ojw" x="930" y="30" width="337" height="421"/>
    </children>
    <children xmi:id="_f0X-8KsXEea8a41T6H1ojw" type="Region" element="_f0Ww0KsXEea8a41T6H1ojw">
      <children xsi:type="notation:DecorationNode" xmi:id="_f0YmAKsXEea8a41T6H1ojw" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_f0YmAasXEea8a41T6H1ojw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_f0YmAqsXEea8a41T6H1ojw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_f0YmA6sXEea8a41T6H1ojw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_hDWTgKsXEea8a41T6H1ojw" type="Entry" element="_hDVscKsXEea8a41T6H1ojw">
          <children xmi:id="_hDWThKsXEea8a41T6H1ojw" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_hDWTh6sXEea8a41T6H1ojw" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_hDWTiKsXEea8a41T6H1ojw"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_hDW6kKsXEea8a41T6H1ojw"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_hDWThasXEea8a41T6H1ojw" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hDWThqsXEea8a41T6H1ojw"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_hDWTgasXEea8a41T6H1ojw" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_hDWTgqsXEea8a41T6H1ojw" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hDWTg6sXEea8a41T6H1ojw" x="8" y="17"/>
        </children>
        <children xmi:id="_hkVgsqsXEea8a41T6H1ojw" type="State" element="_hkU5oKsXEea8a41T6H1ojw">
          <children xsi:type="notation:DecorationNode" xmi:id="_hkWHwKsXEea8a41T6H1ojw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_hkWHwasXEea8a41T6H1ojw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_hkWHwqsXEea8a41T6H1ojw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_hkWHw6sXEea8a41T6H1ojw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_hkWHxKsXEea8a41T6H1ojw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hkWHxasXEea8a41T6H1ojw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_hkWHxqsXEea8a41T6H1ojw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_hkVgs6sXEea8a41T6H1ojw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_hkVgtKsXEea8a41T6H1ojw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_hkWHx6sXEea8a41T6H1ojw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hkVgtasXEea8a41T6H1ojw" x="79" y="1"/>
        </children>
        <children xmi:id="_kFwUkKsXEea8a41T6H1ojw" type="State" element="_kFvGcKsXEea8a41T6H1ojw">
          <children xsi:type="notation:DecorationNode" xmi:id="_kFwUlKsXEea8a41T6H1ojw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_kFwUlasXEea8a41T6H1ojw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_kFwUlqsXEea8a41T6H1ojw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_kFwUl6sXEea8a41T6H1ojw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_kFwUmKsXEea8a41T6H1ojw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_kFwUmasXEea8a41T6H1ojw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_kFw7oKsXEea8a41T6H1ojw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_kFwUkasXEea8a41T6H1ojw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_kFwUkqsXEea8a41T6H1ojw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_kFw7oasXEea8a41T6H1ojw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_kFwUk6sXEea8a41T6H1ojw" x="304" y="1"/>
        </children>
        <children xmi:id="_lo7-kKsXEea8a41T6H1ojw" type="State" element="_lo6wcKsXEea8a41T6H1ojw">
          <children xsi:type="notation:DecorationNode" xmi:id="_lo7-lKsXEea8a41T6H1ojw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_lo7-lasXEea8a41T6H1ojw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_lo7-lqsXEea8a41T6H1ojw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_lo7-l6sXEea8a41T6H1ojw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_lo7-mKsXEea8a41T6H1ojw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_lo7-masXEea8a41T6H1ojw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_lo7-mqsXEea8a41T6H1ojw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_lo7-kasXEea8a41T6H1ojw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_lo7-kqsXEea8a41T6H1ojw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_lo7-m6sXEea8a41T6H1ojw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_lo7-k6sXEea8a41T6H1ojw" x="213" y="134"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_f0YmBKsXEea8a41T6H1ojw"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_f0X-8asXEea8a41T6H1ojw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_f0X-8qsXEea8a41T6H1ojw" x="855" y="455" width="427" height="241"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_nVEjwaf3Eeai1MQIRTN9hA"/>
    <edges xmi:id="_nVKDUKf3Eeai1MQIRTN9hA" type="Transition" element="_nVJcQ6f3Eeai1MQIRTN9hA" source="_nVHnEqf3Eeai1MQIRTN9hA" target="_nVI1MKf3Eeai1MQIRTN9hA">
      <children xsi:type="notation:DecorationNode" xmi:id="_nVKqYaf3Eeai1MQIRTN9hA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_nVKqYqf3Eeai1MQIRTN9hA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_nVKqY6f3Eeai1MQIRTN9hA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_nVKDUaf3Eeai1MQIRTN9hA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_nVKqYKf3Eeai1MQIRTN9hA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_nVKDUqf3Eeai1MQIRTN9hA" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="_9mleAKf3Eeai1MQIRTN9hA" type="Transition" element="_9miasKf3Eeai1MQIRTN9hA" source="_nVI1MKf3Eeai1MQIRTN9hA" target="_nVI1MKf3Eeai1MQIRTN9hA">
      <children xsi:type="notation:DecorationNode" xmi:id="_9mleBKf3Eeai1MQIRTN9hA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_9mleBaf3Eeai1MQIRTN9hA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_9mleBqf3Eeai1MQIRTN9hA" x="-86" y="-74"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_9mleAaf3Eeai1MQIRTN9hA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_9mleA6f3Eeai1MQIRTN9hA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_9mleAqf3Eeai1MQIRTN9hA" points="[15, -7, 15, -7]$[82, -40, 82, -40]$[82, 76, 82, 76]$[15, 13, 15, 13]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_9mn6QKf3Eeai1MQIRTN9hA" id="(0.8255813953488372,0.2318840579710145)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_9mn6Qaf3Eeai1MQIRTN9hA" id="(0.8255813953488372,0.2318840579710145)"/>
    </edges>
    <edges xmi:id="_tv-VMKf4Eeai1MQIRTN9hA" type="Transition" element="_tv748Kf4Eeai1MQIRTN9hA" source="_nVI1MKf3Eeai1MQIRTN9hA" target="_nVI1MKf3Eeai1MQIRTN9hA">
      <children xsi:type="notation:DecorationNode" xmi:id="_tv-VNKf4Eeai1MQIRTN9hA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_tv-VNaf4Eeai1MQIRTN9hA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_tv-VNqf4Eeai1MQIRTN9hA" x="5" y="-35"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_tv-VMaf4Eeai1MQIRTN9hA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_tv-VM6f4Eeai1MQIRTN9hA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_tv-VMqf4Eeai1MQIRTN9hA" points="[25, 32, 25, 32]$[68, 85, 68, 85]$[50, 130, 50, 130]$[25, 99, 25, 99]$[8, 32, 8, 32]"/>
    </edges>
    <edges xmi:id="_tYd-sKf5EeaPELw6Hy3jPQ" type="Transition" element="_tYcwkKf5EeaPELw6Hy3jPQ" source="_rb6LYKf5EeaPELw6Hy3jPQ" target="_r9mjMKf5EeaPELw6Hy3jPQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_tYelwaf5EeaPELw6Hy3jPQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_tYelwqf5EeaPELw6Hy3jPQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_tYelw6f5EeaPELw6Hy3jPQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_tYd-saf5EeaPELw6Hy3jPQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_tYelwKf5EeaPELw6Hy3jPQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_tYd-sqf5EeaPELw6Hy3jPQ" points="[7, 0, -172, -3]$[182, -7, 3, -10]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_tYga8Kf5EeaPELw6Hy3jPQ" id="(0.5287356321839081,0.14864864864864866)"/>
    </edges>
    <edges xmi:id="_unhy0Kf5EeaPELw6Hy3jPQ" type="Transition" element="_unfWkKf5EeaPELw6Hy3jPQ" source="_r9mjMKf5EeaPELw6Hy3jPQ" target="_r9mjMKf5EeaPELw6Hy3jPQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_uniZ4af5EeaPELw6Hy3jPQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_uniZ4qf5EeaPELw6Hy3jPQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_uniZ46f5EeaPELw6Hy3jPQ" x="-105" y="-19"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_unhy0af5EeaPELw6Hy3jPQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_uniZ4Kf5EeaPELw6Hy3jPQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_unhy0qf5EeaPELw6Hy3jPQ" points="[23, 14, 23, 14]$[131, 81, 131, 81]$[48, 81, 48, 81]$[8, 14, 8, 14]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_unkPEKf5EeaPELw6Hy3jPQ" id="(0.22988505747126436,0.7972972972972973)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_unkPEaf5EeaPELw6Hy3jPQ" id="(0.22988505747126436,0.7972972972972973)"/>
    </edges>
    <edges xmi:id="_vG8SsKf5EeaPELw6Hy3jPQ" type="Transition" element="_vG7EkKf5EeaPELw6Hy3jPQ" source="_r9mjMKf5EeaPELw6Hy3jPQ" target="_r9mjMKf5EeaPELw6Hy3jPQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_vG8StKf5EeaPELw6Hy3jPQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_vG8Staf5EeaPELw6Hy3jPQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_vG8Stqf5EeaPELw6Hy3jPQ" x="9" y="150"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_vG8Ssaf5EeaPELw6Hy3jPQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_vG8Ss6f5EeaPELw6Hy3jPQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_vG8Ssqf5EeaPELw6Hy3jPQ" points="[19, 6, 19, 6]$[153, 48, 153, 48]$[144, -20, 144, -20]$[19, -3, 19, -3]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_vG-H4Kf5EeaPELw6Hy3jPQ" id="(0.7701149425287356,0.10810810810810811)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_vG-H4af5EeaPELw6Hy3jPQ" id="(0.7701149425287356,0.10810810810810811)"/>
    </edges>
    <edges xmi:id="_4GdGMKp8Eea9rP9r4tEs6w" type="Transition" element="_4GcfIKp8Eea9rP9r4tEs6w" source="_29w_0Kp8Eea9rP9r4tEs6w" target="_3MszsKp8Eea9rP9r4tEs6w">
      <children xsi:type="notation:DecorationNode" xmi:id="_4GdtQKp8Eea9rP9r4tEs6w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_4GdtQap8Eea9rP9r4tEs6w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_4GdtQqp8Eea9rP9r4tEs6w" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_4GdGMap8Eea9rP9r4tEs6w" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_4GdGM6p8Eea9rP9r4tEs6w" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_4GdGMqp8Eea9rP9r4tEs6w" points="[0, 7, 0, -113]$[7, 144, 7, 24]"/>
    </edges>
    <edges xmi:id="_4VVPsKp8Eea9rP9r4tEs6w" type="Transition" element="_4VUooKp8Eea9rP9r4tEs6w" source="_3MszsKp8Eea9rP9r4tEs6w" target="_3MszsKp8Eea9rP9r4tEs6w">
      <children xsi:type="notation:DecorationNode" xmi:id="_4VVPtKp8Eea9rP9r4tEs6w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_4VVPtap8Eea9rP9r4tEs6w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_4VVPtqp8Eea9rP9r4tEs6w" x="19" y="76"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_4VVPsap8Eea9rP9r4tEs6w" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_4VVPs6p8Eea9rP9r4tEs6w" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_4VVPsqp8Eea9rP9r4tEs6w" points="[18, 0, 18, 0]$[85, 0, 85, 0]$[85, 91, 85, 91]$[0, 91, 0, 91]$[0, 24, 0, 24]"/>
    </edges>
    <edges xmi:id="_OvISEKsTEea8a41T6H1ojw" type="Transition" element="_OvHrAKsTEea8a41T6H1ojw" source="_57lAEKsREea8a41T6H1ojw" target="_MZZw0KsTEea8a41T6H1ojw">
      <children xsi:type="notation:DecorationNode" xmi:id="_OvI5IasTEea8a41T6H1ojw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_OvI5IqsTEea8a41T6H1ojw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_OvI5I6sTEea8a41T6H1ojw" x="61" y="-113"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_OvISEasTEea8a41T6H1ojw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_OvI5IKsTEea8a41T6H1ojw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_OvISEqsTEea8a41T6H1ojw" points="[1, 9, -33, -175]$[13, 136, -21, -48]$[21, 156, -13, -28]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_OvKHQKsTEea8a41T6H1ojw" id="(0.9247311827956989,0.8301886792452831)"/>
    </edges>
    <edges xmi:id="_SXrGEKsTEea8a41T6H1ojw" type="Transition" element="_SXpQ4KsTEea8a41T6H1ojw" source="_57lAEKsREea8a41T6H1ojw" target="_HwVJYKsSEea8a41T6H1ojw">
      <children xsi:type="notation:DecorationNode" xmi:id="_SXrGFKsTEea8a41T6H1ojw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_SXrGFasTEea8a41T6H1ojw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_SXrGFqsTEea8a41T6H1ojw" x="67" y="-55"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_SXrGEasTEea8a41T6H1ojw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_SXrGE6sTEea8a41T6H1ojw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_SXrGEqsTEea8a41T6H1ojw" points="[6, 7, -137, -21]$[71, 93, -72, 65]$[117, 93, -26, 65]$[137, 44, -6, 16]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_SXsUMKsTEea8a41T6H1ojw" id="(0.9354838709677419,0.5660377358490566)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_SXsUMasTEea8a41T6H1ojw" id="(0.08433734939759036,0.5471698113207547)"/>
    </edges>
    <edges xmi:id="_WkRCUKsTEea8a41T6H1ojw" type="Transition" element="_WkQbQKsTEea8a41T6H1ojw" source="_HwVJYKsSEea8a41T6H1ojw" target="_57lAEKsREea8a41T6H1ojw">
      <children xsi:type="notation:DecorationNode" xmi:id="_WkRpYKsTEea8a41T6H1ojw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_WkRpYasTEea8a41T6H1ojw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_WkRpYqsTEea8a41T6H1ojw" x="3" y="36"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_WkRCUasTEea8a41T6H1ojw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_WkRCU6sTEea8a41T6H1ojw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_WkRCUqsTEea8a41T6H1ojw" points="[11, -9, 150, 20]$[-9, -29, 130, 0]$[-34, -29, 105, 0]$[-135, -29, 4, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_WkS3gKsTEea8a41T6H1ojw" id="(0.060240963855421686,0.20754716981132076)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_WkS3gasTEea8a41T6H1ojw" id="(0.956989247311828,0.20754716981132076)"/>
    </edges>
    <edges xmi:id="_6q7nIKsWEea8a41T6H1ojw" type="Transition" element="_6qzEQKsWEea8a41T6H1ojw" source="_MZZw0KsTEea8a41T6H1ojw" target="_57lAEKsREea8a41T6H1ojw">
      <children xsi:type="notation:DecorationNode" xmi:id="_6q7nJKsWEea8a41T6H1ojw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_6q7nJasWEea8a41T6H1ojw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_6q7nJqsWEea8a41T6H1ojw" x="-143" y="30"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_6q7nIasWEea8a41T6H1ojw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_6q7nI6sWEea8a41T6H1ojw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_6q7nIqsWEea8a41T6H1ojw" points="[-1, -1, 174, 120]$[-172, -116, 3, 5]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_6q81QKsWEea8a41T6H1ojw" id="(0.024390243902439025,0.8032786885245902)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_6q81QasWEea8a41T6H1ojw" id="(0.5161290322580645,0.9056603773584906)"/>
    </edges>
    <edges xmi:id="_aCxMsKsXEea8a41T6H1ojw" type="Transition" element="_aCwloKsXEea8a41T6H1ojw" source="_Zdi_wKsXEea8a41T6H1ojw" target="_57lAEKsREea8a41T6H1ojw">
      <children xsi:type="notation:DecorationNode" xmi:id="_aCxMtKsXEea8a41T6H1ojw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_aCxMtasXEea8a41T6H1ojw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_aCxMtqsXEea8a41T6H1ojw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_aCxMsasXEea8a41T6H1ojw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_aCxMs6sXEea8a41T6H1ojw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_aCxMsqsXEea8a41T6H1ojw" points="[0, 7, 1, -51]$[1, 54, 2, -4]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_aCya0KsXEea8a41T6H1ojw" id="(0.27956989247311825,0.09433962264150944)"/>
    </edges>
    <edges xmi:id="_nM4dkKsXEea8a41T6H1ojw" type="Transition" element="_nM32gKsXEea8a41T6H1ojw" source="_hDWTgKsXEea8a41T6H1ojw" target="_hkVgsqsXEea8a41T6H1ojw">
      <children xsi:type="notation:DecorationNode" xmi:id="_nM4dlKsXEea8a41T6H1ojw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_nM4dlasXEea8a41T6H1ojw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_nM4dlqsXEea8a41T6H1ojw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_nM4dkasXEea8a41T6H1ojw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_nM4dk6sXEea8a41T6H1ojw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_nM4dkqsXEea8a41T6H1ojw" points="[8, 0, -58, 3]$[67, -23, 1, -20]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_nM5rsKsXEea8a41T6H1ojw" id="(0.03225806451612903,0.4339622641509434)"/>
    </edges>
    <edges xmi:id="_n8fVkKsXEea8a41T6H1ojw" type="Transition" element="_n8eHcKsXEea8a41T6H1ojw" source="_hkVgsqsXEea8a41T6H1ojw" target="_kFwUkKsXEea8a41T6H1ojw">
      <children xsi:type="notation:DecorationNode" xmi:id="_n8fVlKsXEea8a41T6H1ojw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_n8fVlasXEea8a41T6H1ojw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_n8fVlqsXEea8a41T6H1ojw" x="4" y="-16"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_n8fVkasXEea8a41T6H1ojw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_n8fVk6sXEea8a41T6H1ojw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_n8fVkqsXEea8a41T6H1ojw" points="[7, 1, -137, 1]$[145, -5, 1, -5]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_n8gjsKsXEea8a41T6H1ojw" id="(0.9247311827956989,0.11320754716981132)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_n8gjsasXEea8a41T6H1ojw" id="(0.012048192771084338,0.11320754716981132)"/>
    </edges>
    <edges xmi:id="_t_63oKsXEea8a41T6H1ojw" type="Transition" element="_t_6QkKsXEea8a41T6H1ojw" source="_kFwUkKsXEea8a41T6H1ojw" target="_hkVgsqsXEea8a41T6H1ojw">
      <children xsi:type="notation:DecorationNode" xmi:id="_t_63pKsXEea8a41T6H1ojw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_t_63pasXEea8a41T6H1ojw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_t_63pqsXEea8a41T6H1ojw" x="-5" y="-22"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_t_63oasXEea8a41T6H1ojw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_t_63o6sXEea8a41T6H1ojw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_t_63oqsXEea8a41T6H1ojw" points="[-8, 7, 159, 4]$[-163, 14, 4, 11]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_t_8FwKsXEea8a41T6H1ojw" id="(0.10843373493975904,0.7169811320754716)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_t_8FwasXEea8a41T6H1ojw" id="(0.7526881720430108,0.7735849056603774)"/>
    </edges>
    <edges xmi:id="_yq9DYKsXEea8a41T6H1ojw" type="Transition" element="_yq8cUKsXEea8a41T6H1ojw" source="_hkVgsqsXEea8a41T6H1ojw" target="_lo7-kKsXEea8a41T6H1ojw">
      <children xsi:type="notation:DecorationNode" xmi:id="_yq9qcKsXEea8a41T6H1ojw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_yq9qcasXEea8a41T6H1ojw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_yq9qcqsXEea8a41T6H1ojw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_yq9DYasXEea8a41T6H1ojw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_yq9DY6sXEea8a41T6H1ojw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_yq9DYqsXEea8a41T6H1ojw" points="[0, 5, -128, -113]$[0, 118, -128, 0]$[126, 118, -2, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_yq-RgKsXEea8a41T6H1ojw" id="(0.0967741935483871,0.9056603773584906)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_yq-RgasXEea8a41T6H1ojw" id="(0.04477611940298507,0.6037735849056604)"/>
    </edges>
    <edges xmi:id="_1zCOoKsXEea8a41T6H1ojw" type="Transition" element="_1zAZcKsXEea8a41T6H1ojw" source="_lo7-kKsXEea8a41T6H1ojw" target="_hkVgsqsXEea8a41T6H1ojw">
      <children xsi:type="notation:DecorationNode" xmi:id="_1zCOpKsXEea8a41T6H1ojw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_1zCOpasXEea8a41T6H1ojw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_1zCOpqsXEea8a41T6H1ojw" x="-109" y="24"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_1zCOoasXEea8a41T6H1ojw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_1zCOo6sXEea8a41T6H1ojw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_1zCOoqsXEea8a41T6H1ojw" points="[-2, 0, 112, 96]$[-106, 0, 8, 96]$[-106, -90, 8, 6]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_1zDcwKsXEea8a41T6H1ojw" id="(0.04477611940298507,0.11320754716981132)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_1zDcwasXEea8a41T6H1ojw" id="(0.25806451612903225,0.8867924528301887)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
